body{
    background-color:  #393E46;
    text-align: center;
}
h1{
    color: #4ECCA3;
    font-size: 7rem;
    font-weight: 1000;
    margin-top: 2%;
}
.container{
    width: 60%;
    margin: auto;
    text-align: center;
}
.dice{
    text-align: center;
    display: inline-block;
    margin: -20px 30px 40px;
}
#footer{
    text-align: center;
}
.icon{
    padding: 0 0.5%;
}